<div class="row">
    <div class="col">
        <nav class="navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Taskster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Frequently asked questions</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-center">Copyright © 2020</p>
    </div>
</div>