<div class="modal assign-task-modal fade" id="assignTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="assign-task-form" onsubmit="assignTask(event)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign task to member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="assign-task-select">Member</label>
                            <select class="form-control" id="assign-task-select">

                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="task-id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign task</button>
                </div>
        </form>
    </div>
</div>